mixin song(songName, imageUrl, artists, album, albumArtists) 
    ul.list-group.row
        li.list-group-item.col-md-1.col-sm-1.col-xs-2 
            img(src="#{imageUrl}")
        li.list-group-item.col-md-5.col-sm-15.col-xs-10 
            p Name : #{songName}
            p Artists : 
                a #{artists}
        li.list-group-item.col-md-6.col-sm-3.col-xs-6  
            p Album : 
                a #{album}
            p Album Artists : 
                a #{albumArtists}